.headers {
  text-align: center;
}

.small-image {
  max-width: 300px;
  max-height: 300px;
}

.title {
  font-size: 50px;
}

.container {
  display: flex;
  flex-flow: column;
  justify-items: center;
}

.content {
  display: flex;
  justify-content: center;
}

.name {
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

a {
  text-decoration: none;
  margin: 5px;
  width: fit-content;
}

td,
table {
  border: 1px solid black;
  border-collapse: collapse;
}
