.container {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}

.title {
  font-family: verdana;
  color: blue;
}

.address {
  font-family: Arial, sans-serif;
  color: black;
  font-size: small;
}

td,
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: fit-content;
}

a {
  text-decoration: none;
  margin: 5px;
}
